.centerCell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.table1 {
    font-family: "Fraunces", serif;
    font-size: 125%;
    white-space: nowrap;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid black;
}
.table1 td,
.table1 th {
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
.table1 thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    background: white;
}
.table1 td {
    background: #fff;
    padding: 4px 5px;
    text-align: center;
}

.table1 tbody th {
    font-weight: 100;
    font-style: italic;
    text-align: left;
    position: relative;
}
.table1 thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}
.table1 tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}
.caption1 {
    text-align: left;
    padding: 0.25rem;
    position: sticky;
    left: 0;
}

[role="region"][aria-labelledby][tabindex] {
    width: 100%;
    max-height: 98vh;
    overflow: auto;
}
[role="region"][aria-labelledby][tabindex]:focus {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    outline: 0;
}

.tdHighlighted{
    background-color: red !important;
    color: white;
}